<ul class="nav-menu">
  <li><a href="/">Portfolio</a></li>
  
  <li class="dropdown">
    <a href="#" class="dropbtn">Projects</a>
    <div class="dropdown-content">
      <a href="/#kaggle">Kaggle Competitions</a>
      <a href="/#vae">VAE Research</a>
      <a href="/#ion-switching">Ion Switching</a>
    </div>
  </li>
  
  <li class="dropdown">
    <a href="#" class="dropbtn">Memory Systems</a>
    <div class="dropdown-content">
      <a href="/Misc/Memory/Memory.html">Overview</a>
      <a href="/Misc/Memory/00-99PAO.html">Number System (00-99)</a>
      <a href="/Misc/Memory/Cards.html">Card System</a>
      <a href="/Misc/Memory/English_PAO.html">English Sound PAO</a>
      <a href="/Misc/Memory/Mandarin_System.html">Mandarin System</a>
      <a href="/Misc/Memory/palaces.html">Memory Palaces</a>
    </div>
  </li>
  
  <li><a href="/Misc/Misc.html">Misc</a></li>
</ul>
